
@model HomeViewModel


<h2>
    Лучшие автомобили
</h2>
<div class="row mt-5 mb-2">
    @{
        foreach (Game game in Model.FavGames)
        {
            @Html.Partial("AllGames", game);
        }
    }
</div>